@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-1: #ffe1ff;
  --theme-2: #e4b1f0;
  --theme-3: #7e60bf;
  --theme-4: #433878;
  --theme-5: #241e40;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
